{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block main %}
    <main class="main">
        <h1>Your Sets</h1>
        <a href="/community" class="main_button second_button" style="position:absolute;top:34.5px;right:150px;">Community<ion-icon name="globe-outline"></ion-icon></a>
        <a href="/new" class="main_button" style="position:absolute;top:34.5px;right:20px;">New<ion-icon name="add-outline"></ion-icon></a>
        <div class="home_sets" id="home_sets">
        </div>
        <dialog class="start_set" id="start_set">
            <h1>Set Name</h1>
            <ion-icon onclick="document.getElementById('start_set').close()" class="close_start" name="close-outline"></ion-icon>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vel neque nunc. Morbi ac ipsum tristique, tempus lacus et, pharetra lectus. Nunc tempus semper aliquet. Suspendisse eget neque ullamcorper, aliquet arcu eu, vulputate arcu.</p>
            <h2>Revise</h2>
            <div class="start_options">
                <a href="/flashcards"><ion-icon name="albums-outline"></ion-icon><strong>Flashcards</strong></a>
                <a><ion-icon name="help-outline"></ion-icon><strong>Questions</strong></a>
                <a><ion-icon name="create-outline"></ion-icon><strong>Fill The Gaps</strong></a>
                <a><ion-icon class="start_lock" name="lock-closed-outline"></ion-icon><ion-icon src="/static/test_icon.svg"></ion-icon><strong>Test</strong></a>
            </div>
            <div class="start_buttons">
                <button class="main_button del_button" style="margin-right: 21px;">Delete<ion-icon name="trash-outline"></ion-icon></button>
                <a href="/edit" class="main_button">Edit<ion-icon name="pencil-outline"></ion-icon></a>
            </div>
        </dialog>
    </main>
    <script>
        function show() {
            document.getElementById("start_set").showModal()
        }
        var sets = {{sets|tojson}};
        var sets_keys = Object.keys(sets)
        for(var i=0;i<sets_keys.length;i++){
            var home = document.getElementById("home_sets")
            var a = document.createElement("a")
            var img = document.createElement("img")
            var strong = document.createElement("strong")
            var p = document.createElement("p")
            a.addEventListener("click",() => {
                show()
            })
            img.src = `/static/set_icons/${sets[sets_keys[i]]["settings"]["background"]}.png`
            strong.innerText = sets[sets_keys[i]]["settings"]["name"]
            p.innerText = sets[sets_keys[i]]["settings"]["desc"]
            a.appendChild(img)
            a.appendChild(strong)
            a.appendChild(p)
            home.appendChild(a)
        }
    </script>
    <a href="/new" class="home_add"><ion-icon name="add-outline"></ion-icon></a>
{% endblock %}